.footer-nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .footer-nav {
        flex-direction: column;
    }
}